<nav id="nav-content">
    <span id="song-line-time"></span>
    
    <section id="player-buttons-content">
        
        <div id="song-content">
            <button>
                <span class="material-symbols-outlined fill">favorite</span>
            </button>

            <span>
                <p id="title-song">Chapéu Panamá</p>
                <p id="author-song">BaianaSystem</p>
            </span>
        </div>

        <div id="song-player">
            <button>
                <span class="material-symbols-outlined weight-light">repeat</span>
            </button>

            <div id="group-btn-center">
                <button>
                    <span class="material-symbols-outlined weight-light">navigate_before</span>
                </button>

                <button>
                    <span class="material-symbols-outlined weight-light">play_arrow</span>
                </button>

                <button>
                    <span class="material-symbols-outlined weight-light">navigate_next</span>
                </button>
            </div>

            <button>
                <span class="material-symbols-outlined weight-light">replay</span>
            </button>
        </div>


        <div id="extra-btn">
            <button>
                <span class="material-symbols-outlined weight-light">volume_up</span>
            </button>

            <button>
                <span class="material-symbols-outlined weight-light">close_fullscreen</span>
            </button>
        </div>

    </section>
</nav>